header button {
  padding: .5rem;
  max-height: 4rem;
  max-width: 7rem;
  border-radius: 20px;
  background: #f25c19;
  border: none;
  border-top: 2px solid  white;
  border-right: 2px solid white;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #e6e6e6;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7rem;
}

header .logo {
  max-width: 4rem;
}

header .burger {
  max-width: 3rem;
}

main article .titre {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: #f25c19 solid 2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

main article .card_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
  padding: 1rem;
}

main article .card_banner img {
  max-width: 16rem;
  margin-bottom: 1rem;
}

main article .card_banner {
  background-color: white;
  border: solid 8px #0076bc;
}

main article .card_double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin: 2%;
}

main article .card_double img {
  max-width: 10rem;
  padding: 4px 4px 0 4px;
}

main article .card_double .simple_card {
  border-radius: 2px;
  padding: 6px 0 6px 0;
  background-color: #68af21;
  border: solid 2px #f25c19;
}

main article .card_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5%;
  padding: 1rem;
}

main article .card_detail img {
  max-width: 8rem;
}

main article .card_detail .card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 5%;
  max-width: 60%;
}

main article .card_detail {
  background-color: white;
  border: solid 8px #0076bc;
}

main article .map_card {
  margin: 5%;
  border: solid 2px #f25c19;
  max-width: 90%;
}

main .large_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
  padding: 1rem;
  border: #68af21 solid 8px;
}

main .large_card figure figcaption {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding: .5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .card_double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 6px;
}

footer .card_double .simple_card {
  max-width: 2.5rem;
  margin-right: .2rem;
  padding: 2px;
}

footer .card_double .simple_card2 {
  max-width: 2.5rem;
  padding: 2px;
}

footer .card_double2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .card_double2 a {
  margin: .5rem;
  color: white;
  text-decoration: none;
  border-bottom: #f25c19 solid 2px;
  border-radius: 2px;
}

@media (min-width: 767px) {
  main article .titre {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  main article .card_banner {
    border: none;
    border-bottom: #0076bc solid 6px;
    background: none;
    padding: 2rem;
    border-radius: 0;
  }
  main article .card_banner h1 {
    font-size: 3rem;
  }
  main article .card_banner p {
    font-size: 1.5rem;
  }
  main article .card_banner img {
    max-width: 30rem;
    border-radius: 8px;
  }
  main article .card_double {
    border: none;
    border-bottom: #68af21 solid 6px;
  }
  main article .card_double figure figcaption {
    font-size: 2rem;
    font-weight: 600;
  }
  main article .card_double .simple_card {
    background: none;
    border: none;
  }
  main article .card_double .simple_card img {
    max-width: 18rem;
    border-radius: 8px;
  }
  main article .card_detail {
    background: none;
    border: none;
    border-bottom: #0076bc solid 6px;
  }
  main article .card_detail h1 {
    font-size: 3rem;
  }
  main article .card_detail p {
    font-size: 1.5rem;
  }
  main article .card_detail img {
    max-width: 144rem;
    border-radius: 8px;
  }
  main .large_card {
    border: none;
    border-bottom: #68af21 solid 6px;
  }
}

@media (min-width: 1200px) {
  header .logo {
    margin: 5%;
    max-width: 6.5rem;
  }
  header .don_asso,
  header .burger {
    display: none;
  }
  header .card_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .card_head .menus {
    margin-bottom: 1rem;
  }
  header .card_head .menus a {
    color: white;
    margin-right: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: #f25c19 solid 2px;
    border-radius: 2px;
  }
  main article .map_card {
    border: #f25c19 solid 6px;
  }
  main article .card_banner,
  main article .card_double,
  main article .card_detail,
  main article .large_card {
    border-radius: 12px;
  }
  main article .card_banner h1,
  main article .card_double h1,
  main article .card_detail h1,
  main article .large_card h1 {
    margin-bottom: 1.5rem;
  }
  main article .card_banner {
    padding: 2rem;
    border: solid 8px #0076bc;
  }
  main article .card_banner img {
    max-width: 50rem;
  }
  main article .card_double {
    padding: 2rem;
    border: #68af21 solid 6px;
  }
  main article .card_double .simple_card {
    border: solid 4px #f25c19;
  }
  main article .card_double .simple_card figcaption {
    font-size: 3rem;
  }
  main article .card_double .simple_card img {
    max-width: 32rem;
  }
  main article .card_detail {
    padding: 2rem;
    border: solid 8px #0076bc;
  }
  main article .card_detail img {
    max-width: 144rem;
  }
  main .large_card {
    border: #68af21 solid 6px;
    border-radius: 8px;
  }
  main .large_card figure figcaption {
    font-size: 3rem;
  }
  footer .card_double .simple_card {
    margin-left: 5rem;
  }
  footer .card_double .simple_card,
  footer .card_double .simple_card2 {
    max-width: 4rem;
  }
  footer .card_double2 a {
    margin-right: 5rem;
    font-size: 24px;
  }
}
/*# sourceMappingURL=index.css.map */