* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #e6e6e6;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7rem;
}

header button {
  padding: .5rem;
  max-height: 4rem;
  max-width: 7rem;
  border-radius: 8px;
  color: black;
  background-color: #68AF21;
}

header .logo {
  max-width: 4rem;
}

header .burger {
  max-width: 3rem;
}

main article .card_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
  padding: 1rem;
}

main article .card_banner img {
  max-width: 16rem;
  margin-bottom: 1rem;
}

main article .card_banner {
  background-color: white;
  border: solid 8px #0076BC;
  border-radius: 5px;
}

main article .card_double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin: 2%;
}

main article .card_double img {
  max-width: 10rem;
  padding: 4px 4px 0 4px;
}

main article .card_double .simple_card {
  border-radius: 2px;
  padding: 6px 0 6px 0;
  background-color: #68AF21;
  border: solid 2px #EB6909;
}

main article .card_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5%;
  padding: 1rem;
}

main article .card_detail img {
  max-width: 8rem;
}

main article .card_detail .card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 5%;
  max-width: 60%;
}

main article .card_detail {
  background-color: white;
  border: solid 8px #0076BC;
  border-radius: 5px;
}

main article .map_card {
  margin: 5%;
  border: solid 2px #EB6909;
  max-width: 90%;
}

main .large_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
  padding: 1rem;
  border: #68AF21 solid 8px;
}

main .large_card figure figcaption {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding: .5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .card_double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 6px;
}

footer .card_double .simple_card {
  max-width: 2.5rem;
  margin-right: .2rem;
  padding: 2px;
}

footer .card_double .simple_card2 {
  max-width: 2.5rem;
  padding: 2px;
}

footer .card_double2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .card_double2 a {
  margin: .5rem;
  color: white;
}

@media (min-width: 767px) {
  main article .card_banner {
    border: none;
    border-bottom: #0076BC solid 6px;
    background: none;
    padding: 2rem;
    border-radius: 0;
  }
  main article .card_banner h1 {
    font-size: 3rem;
  }
  main article .card_banner p {
    font-size: 1.5rem;
  }
  main article .card_banner img {
    max-width: 30rem;
    border-radius: 8px;
  }
  main article .card_double {
    border: none;
    border-bottom: #68AF21 solid 6px;
  }
  main article .card_double figure figcaption {
    font-size: 2rem;
    font-weight: 600;
  }
  main article .card_double .simple_card {
    background: none;
    border: none;
  }
  main article .card_double .simple_card img {
    max-width: 18rem;
    border-radius: 8px;
  }
  main article .card_detail {
    background: none;
    border: none;
    border-bottom: #0076BC solid 6px;
  }
  main article .card_detail h1 {
    font-size: 3rem;
  }
  main article .card_detail p {
    font-size: 1.5rem;
  }
  main article .card_detail img {
    max-width: 144rem;
    border-radius: 8px;
  }
  main .large_card {
    border: none;
    border-bottom: #68AF21 solid 6px;
  }
}

@media (min-width: 1200px) {
  main article .card_banner img {
    max-width: 50rem;
    border-radius: 8px;
  }
  main article .card_double .simple_card {
    border: solid 4px #EB6909;
  }
  main article .card_double .simple_card img {
    max-width: 32rem;
    border-radius: 8px;
  }
  main article .card_detail img {
    max-width: 144rem;
    border-radius: 8px;
  }
}
/*# sourceMappingURL=index.css.map */