%init{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
%flexNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%adhesion{
        padding: .5rem;
        max-height: 4rem;
        max-width: 7rem;
        border-radius: 20px;
        background:$brown;
        border:none;
        border-top: 2px solid  white;
        border-right: 2px solid white;
        box-shadow: inset 2px 2px 5px $black, inset -2px -2px 5px $black ;
        cursor: pointer;
}
%flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
%flexCenterColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
%underline{
    color: #f25c19;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    height: 5px;
    background-color: #f25c19;
    border-radius: 5px;
}
%card{
margin: 30px 20px 10px 20px;
border-radius: 5px;
box-shadow: 5px 5px 10px $black;
}