
@import "variables";
@import "extends";
@import "mixins";
@import "navbar";
@import "footer";

* {
    margin: 0;
    padding: 0;
}

body {
    @extend %body;
}

h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 25px;
}


.card1{
    background-color: white;
    box-shadow: -2px 2px 5px #02ce05;
    margin: 50px 15px 0 15px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    h2 {
        color: black;
        text-align: center;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }
    img {
        height: 100%;
        width: 80%;
        border-radius: 15px;
        border: solid 1px black;
    }
    p{
        text-align: start;
        margin: 10px 25px 0 35px;
        font-family: 'Poppins', sans-serif;
        font-size: .7rem;
    }
    
    button {
        font-family: 'Poppins', sans-serif;
        background-color: #242222;
        color: #02ce05;
        box-shadow: inset 5px 5px 10px #000, inset -5px -5px 10px black;
        margin-top: 20px;
        font-weight: bold;
        border-radius: 18px;
        border: none;
        width: 44%;
        padding: 10px;
        margin-bottom: 20px;

        img {
        width: 20px;
        margin-right: 5px;
    }
    
    
    }
    
}



button {
    margin: auto;
    display: flex;
}


// fin de la card1
@media screen and (min-width:768px){
    
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        width: 90%;
        margin: auto;
        .card1{
            height: 80%;
            
            p{
                font-size: 0.9rem;
            }
            img {
                height: 20%;
            }
            button{
             align-items: center;
             img{
                
                 width: 15%;
                 height: 100%;
             }          
            }
        }

    }

    

}

@media screen and (min-width:1024px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        width: 75%;
        
        margin: auto;
    }

    .card1 {
        height:85%;
      
    }
    .card1>p{
        margin-top: 30px;
    }
    .card1>img{
        height: 30%;
    }
}