@import "variables";
@import "extends";
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(230, 230, 230);
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;

    button {
        @extend %adhesion;
    }

    .logo {
        max-width: 4rem;
    }

    .burger {
        max-width: 3rem;
    }
}

main {

    h1 {}

    article {

        .titre {
            font-size: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 2rem;
            margin-bottom: 2rem;
            border-bottom: $brown solid 2px;
            width: max-content;
        }

        .card_banner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 5%;
            padding: 1rem;

            img {
                max-width: 16rem;
                margin-bottom: 1rem;
            }
        }

        .card_banner {
            background-color: white;
            border: solid 8px $blue;
        }

        .card_double {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            text-align: center;
            margin: 2%;

            img {
                max-width: 10rem;
                padding: 4px 4px 0 4px;
            }
        }

        .card_double {

            .simple_card {
                border-radius: 2px;
                padding: 6px 0 6px 0;
                background-color: $green;
                border: solid 2px $brown;
            }
        }

        .card_detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin: 5%;
            padding: 1rem;

            img {
                max-width: 8rem;
            }

            .card_text {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                margin-left: 5%;
                max-width: 60%;
            }

        }

        .card_detail {
            background-color: white;
            border: solid 8px $blue;
        }

        .map_card {
            margin: 5%;
            border: solid 2px $brown;
            max-width: 90%;
        }
    }

    .large_card {
        display: flex;
        flex-direction: column;
        margin: 5%;
        padding: 1rem;
        border: $green solid 8px;

        figure {
            figcaption {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: .5rem;
            }
        }
    }

}

footer {
    display: flex;
    background-color: black;
    padding: .5rem;
    justify-content: space-between;

    .card_double {
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        padding: 6px;

        .simple_card {
            max-width: 2.5rem;
            margin-right: .2rem;
            padding: 2px;
        }

        .simple_card2 {
            max-width: 2.5rem;
            padding: 2px;
        }
    }

    .card_double2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        a {
            margin: .5rem;
            color: white;
            text-decoration: none;
            border-bottom: $brown solid 2px;
            border-radius: 2px;
        }
    }
}

@media (min-width: 767px) {

    main {
        article {

            .titre {
                font-size: 4rem;
                margin-top: 2rem;
                margin-bottom: 0;
            }

            .card_banner {
                border: none;
                border-bottom: $blue solid 6px;
                background: none;
                padding: 2rem;
                border-radius: 0;

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }

                img {
                    max-width: 30rem;
                    border-radius: 8px;
                }
            }

            .card_double {
                border: none;
                border-bottom: $green solid 6px;

                figure {
                    figcaption {
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }

                .simple_card {
                    background: none;
                    border: none;

                    img {
                        max-width: 18rem;
                        border-radius: 8px;
                    }
                }
            }

            .card_detail {
                background: none;
                border: none;
                border-bottom: $blue solid 6px;

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }

                img {
                    max-width: 144rem;
                    border-radius: 8px;
                }
            }

        }

        .large_card {
            border: none;
            border-bottom: $green solid 6px;
        }
    }
}

@media (min-width: 1200px) {

    header {
        .logo {
            margin: 5%;
            max-width: 6.5rem;
        }

        .don_asso,
        .burger {
            display: none;
        }

        .card_head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .menus {
                margin-bottom: 1rem;

                a {
                    color: white;
                    margin-right: 2rem;
                    font-size: 1.5rem;
                    text-decoration: none;
                    border-bottom: $brown solid 2px;
                    border-radius: 2px;
                }
            }
        }
    }

    main {
        article {

            .map_card {
                border: $brown solid 6px;
            }

            .card_banner,
            .card_double,
            .card_detail,
            .large_card {
                border-radius: 12px;

                h1 {
                    margin-bottom: 1.5rem;
                }
            }

            .card_banner {
                padding: 2rem;
                border: solid 8px $blue;

                img {
                    max-width: 50rem;
                }
            }

            .card_double {
                padding: 2rem;
                border: $green solid 6px;

                .simple_card {
                    border: solid 4px $brown;

                    figcaption {
                        font-size: 3rem;
                    }

                    img {
                        max-width: 32rem;
                    }
                }
            }

            .card_detail {
                padding: 2rem;
                border: solid 8px $blue;

                img {
                    max-width: 144rem;
                }
            }
        }

        .large_card {
            border: $green solid 6px;
            border-radius: 8px;

            figure {
                figcaption {
                    font-size: 3rem;
                }
            }
        }
    }

    footer {

        .card_double {

            .simple_card {
                margin-left: 5rem;
            }

            .simple_card,
            .simple_card2 {
                max-width: 4rem;
            }
        }

        .card_double2 {
            a {
                margin-right: 5rem;
                font-size: 24px;
            }
        }
    }
}