* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(230, 230, 230);
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;

    button {
        padding: .5rem;
        max-height: 4rem;
        max-width: 7rem;
        border-radius: 8px;
        color: black;
        background-color: #68AF21;
    }

    .logo {
        max-width: 4rem;
    }

    .burger {
        max-width: 3rem;
    }
}

main {
    article {

        .card_banner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 5%;
            padding: 1rem;

            img {
                max-width: 16rem;
                margin-bottom: 1rem;
            }
        }

        .card_banner {
            background-color: white;
            border: solid 8px #0076BC;
            border-radius: 5px;
        }

        .card_double {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            text-align: center;
            margin: 2%;

            img {
                max-width: 10rem;
                padding: 4px 4px 0 4px;
            }
        }

        .card_double {

            .simple_card {
                border-radius: 2px;
                padding: 6px 0 6px 0;
                background-color: #68AF21;
                border: solid 2px #EB6909;
            }
        }

        .card_detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin: 5%;
            padding: 1rem;

            img {
                max-width: 8rem;
            }

            .card_text {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                margin-left: 5%;
                max-width: 60%;
            }

        }

        .card_detail {
            background-color: white;
            border: solid 8px #0076BC;
            border-radius: 5px;
        }

        .map_card {
            margin: 5%;
            border: solid 2px #EB6909;
            max-width: 90%;
        }
    }

    .large_card {
        display: flex;
        flex-direction: column;
        margin: 5%;
        padding: 1rem;
        border: #68AF21 solid 8px;

        figure {
            figcaption {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: .5rem;
            }
        }
    }

}

footer {
    display: flex;
    background-color: black;
    padding: .5rem;
    justify-content: space-between;

    .card_double {
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        padding: 6px;

        .simple_card {
            max-width: 2.5rem;
            margin-right: .2rem;
            padding: 2px;
        }

        .simple_card2 {
            max-width: 2.5rem;
            padding: 2px;
        }
    }

    .card_double2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        a {
            margin: .5rem;
            color: white;
        }
    }
}

@media (min-width: 767px) {

    main {
        article {

            .card_banner {
                border: none;
                border-bottom: #0076BC solid 6px;
                background: none;
                padding: 2rem;
                border-radius: 0;

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }

                img {
                    max-width: 30rem;
                    border-radius: 8px;
                }
            }

            .card_double {
                border: none;
                border-bottom: #68AF21 solid 6px;

                figure {
                    figcaption {
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }

                .simple_card {
                    background: none;
                    border: none;

                    img {
                        max-width: 18rem;
                        border-radius: 8px;
                    }
                }
            }

            .card_detail {
                background: none;
                border: none;
                border-bottom: #0076BC solid 6px;

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }

                img {
                    max-width: 144rem;
                    border-radius: 8px;
                }
            }

        }

        .large_card {
            border: none;
            border-bottom: #68AF21 solid 6px;
        }
    }
}

@media (min-width: 1200px) {

    main {
        article {

            .card_banner {
                img {
                    max-width: 50rem;
                    border-radius: 8px;
                }
            }

            .card_double {

                .simple_card {
                    border: solid 4px #EB6909;

                    img {
                        max-width: 32rem;
                        border-radius: 8px;
                    }
                }
            }

            .card_detail {
                img {
                    max-width: 144rem;
                    border-radius: 8px;
                }
            }
        }
    }
}