@import "variables";
@import "extends";
@import "mixins";
header {
    background-color: black;
   @extend %flexNav;
    padding: .7rem;

    button {
        @extend %adhesion;
    }

    .logo {
        max-width: 4rem;
        @media (min-width: 1200px){
            margin: 5%;
            max-width: 6.5rem;
        }
    }

    .burger {
        max-width: 3rem;
        @media (min-width: 1200px){
            display: none;
        }
    }
    .card_head {
        display: none;
        @media (min-width: 1200px){
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
        }
    }
   
}
@media (min-width: 1200px) {
.menus {
    
    margin-bottom: 1rem;

    a {
        color: white;
        margin-right: 2rem;
        font-size: 1.5rem;
        text-decoration: none;
        border-bottom: $brown solid 2px;
        border-radius: 2px;
    }
}
}