.pagination {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;

    :first-child,
    :last-child {
        border: 1px solid black;
        border-radius: 5px;
        padding: 7px;
        background-color: $brown;
    }

    a {
        text-decoration: none;
        color: black;
        padding: 2px;

    }
}
